GTM Team/08-AI-Meeting-Notes-CRM-Updater.json
{
  "name": "GTM 08 \u2014 AI Meeting Notes \u2192 CRM",
  "nodes": [
    {
      "parameters": {
        "path": "fireflies-meeting",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "30156654-3391-4a01-957f-d828edd48ae8",
      "name": "Fireflies Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "sendBody": true,
        "jsonBody": "={\n  \"query\": \"query Tx($id:String!){ transcript(id:$id){ id title sentences{ text speaker_name } attendees{ email } } }\",\n  \"variables\": { \"id\": \"{{ $json.body.meetingId }}\" }\n}"
      },
      "id": "9c8f3028-7354-48f4-b3d0-0993eee185f8",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract MEDDIC from sales call transcript. Return JSON: {metrics, economic_buyer, decision_criteria, decision_process, identify_pain, champion, next_steps[], risks[]}."
            },
            {
              "content": "={{ JSON.stringify($json.data.transcript.sentences) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "15e7caed-9d98-4eca-a72f-e4fb4c1675a4",
      "name": "GPT Extract MEDDIC",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "contact_email",
                    "operator": "EQ",
                    "value": "={{ $('Fetch Transcript').item.json.data.transcript.attendees[0].email }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "c04cae68-c3d0-42b5-9359-6434ac9bde92",
      "name": "Find HubSpot Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "customProperties": {
            "customProperty": [
              {
                "property": "meddic_metrics",
                "value": "={{ $('GPT Extract MEDDIC').item.json.message.content.metrics }}"
              },
              {
                "property": "next_steps",
                "value": "={{ $('GPT Extract MEDDIC').item.json.message.content.next_steps.join('\\n') }}"
              }
            ]
          }
        }
      },
      "id": "4c295592-639d-453f-bff7-28f05e13c91b",
      "name": "Update Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Fireflies Webhook": {
      "main": [
        [
          {
            "node": "Fetch Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript": {
      "main": [
        [
          {
            "node": "GPT Extract MEDDIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Extract MEDDIC": {
      "main": [
        [
          {
            "node": "Find HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find HubSpot Deal": {
      "main": [
        [
          {
            "node": "Update Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "e3138742-2e10-40c7-9bae-5cfab84512a9",
  "id": "72efcb9e-e818-476f-9e81-87b0908e756e",
  "tags": []
}