AI Enablement for SMBs/01-Internal-RAG-QA-Bot.json
{
  "name": "SMB AI 01 — Internal RAG Q&A Bot",
  "nodes": [
    {
      "parameters": {
        "content": "## Live deployment checklist\n\nWorkflow: SMB AI 01 — Internal RAG Q&A Bot\nNodes: 5\nTrigger: Slack Slash /ask\nCredentials/services: OpenAI, OpenAI embeddings, Qdrant\nPlaceholders: None detected\nEnvironment variables: None detected\nExternal webhook setup: register production URL for Slack Slash /ask\n\nBefore activating:\n1. Configure every credential in n8n Credentials.\n2. Replace every placeholder above with live IDs, channels, folders, or database IDs.\n3. Execute once with test data and inspect every node output.\n4. Activate only after the workflow reaches its final node successfully.",
        "height": 440,
        "width": 520,
        "color": 4
      },
      "id": "live-977d542a887b57d859858363",
      "name": "Live Deployment Checklist",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -140
      ]
    },
    {
      "parameters": {
        "path": "slack-ask",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "0ef653ac-1719-4aef-8a9e-8c3033ad81e2",
      "name": "Slack Slash /ask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "id": "7f0859fa-fe80-4def-94d4-49b9696b39de",
      "name": "Embed Question",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "company_docs",
          "mode": "list"
        },
        "prompt": "={{ $json.body.text }}",
        "topK": 5
      },
      "id": "76d583f0-19d6-4401-b5f0-0075cb353e16",
      "name": "Qdrant Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Answer using ONLY the provided context. If unsure say 'Not in docs'. Cite source titles."
            },
            {
              "content": "=Context:\n{{ $json.documents }}\n\nQ: {{ $('Slack Slash /ask').item.json.body.text }}"
            }
          ]
        }
      },
      "id": "b0dcd9ee-80b7-497b-a823-0ad8365bca20",
      "name": "GPT Answer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Slack Slash /ask').item.json.body.response_url }}",
        "sendBody": true,
        "jsonBody": "={\n  \"response_type\": \"in_channel\",\n  \"text\": \"{{ $json.message.content }}\"\n}"
      },
      "id": "91657778-b5d5-4e5a-9cb0-0b1c49f5a52a",
      "name": "Reply in Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Slack Slash /ask": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Question": {
      "main": [
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "GPT Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Answer": {
      "main": [
        [
          {
            "node": "Reply in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "168e7f80-c175-4144-9323-f413351dcf82",
  "id": "c44eb9c3-b674-40c4-8bdc-918f0b5f86a9",
  "tags": []
}
