First-Time AI Company/12-Document-Intelligence-Hub.json
{
  "name": "FirstAI 12 \u2014 Document Intelligence Hub",
  "nodes": [
    {
      "parameters": {
        "event": "fileCreated",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_INBOX_FOLDER",
          "mode": "id"
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "20009589-fc62-4f1a-b42d-88b0b0ada60d",
      "name": "Drive New File",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "dc9392d5-f53f-4e7c-91da-051e470fa972",
      "name": "Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data"
      },
      "id": "199a632b-fff0-4099-b3ed-7804fbc43b16",
      "name": "Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Classify document. Return JSON {type:contract|invoice|resume|other, confidence}."
            },
            {
              "content": "={{ $json.text.slice(0,2000) }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "930aefc3-b01c-4778-bedd-4efa96bc8153",
      "name": "GPT Classify Doc",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "input",
        "rules": {
          "rules": [
            {
              "value2": "contract"
            },
            {
              "value2": "invoice"
            },
            {
              "value2": "resume"
            },
            {
              "value2": "other"
            }
          ]
        },
        "value1": "={{ $json.message.content.type }}"
      },
      "id": "08b8eede-2f9d-4e9b-a24d-6591f24a3605",
      "name": "Switch by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract {parties, term, payment, auto_renew, termination, liability_cap, risky_clauses}."
            },
            {
              "content": "={{ $('Extract Text').item.json.text }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "7c8225ea-7661-43d8-943e-93f35578d84c",
      "name": "Contract Extract",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract {vendor, invoice_number, date, total, currency, line_items[]}."
            },
            {
              "content": "={{ $('Extract Text').item.json.text }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "65542aec-cd85-4dc9-9786-269ec64f49cb",
      "name": "Invoice Extract",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        330
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract {name, email, years_exp, skills[], current_role, current_company}."
            },
            {
              "content": "={{ $('Extract Text').item.json.text }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "7852fdf2-2739-4448-83f2-8b5bd74482a1",
      "name": "Resume Extract",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_INBOX_DB",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $('Drive New File').item.json.name }}"
            },
            {
              "key": "Type|select",
              "selectValue": "other"
            }
          ]
        }
      },
      "id": "902e2f31-18ed-412f-92da-4ccfcf9a8a75",
      "name": "Other \u2192 Notion Inbox",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_LEGAL_DB",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $('Drive New File').item.json.name }}"
            },
            {
              "key": "Parties|rich_text",
              "textContent": "={{ $json.message.content.parties }}"
            },
            {
              "key": "Auto Renew|checkbox",
              "checkboxValue": "={{ $json.message.content.auto_renew }}"
            }
          ]
        }
      },
      "id": "575bd2f1-bb37-4cc3-b898-24e713edb753",
      "name": "Contract \u2192 Legal DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_AP_SHEET",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "AP",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vendor": "={{ $json.message.content.vendor }}",
            "total": "={{ $json.message.content.total }}",
            "date": "={{ $json.message.content.date }}"
          }
        }
      },
      "id": "f9f5bb1d-875f-4b60-9a96-a29ddab8e28e",
      "name": "Invoice \u2192 Accounting Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1400,
        330
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_ATS_DB",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.message.content.name }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.message.content.email }}"
            },
            {
              "key": "Years|number",
              "numberValue": "={{ $json.message.content.years_exp }}"
            }
          ]
        }
      },
      "id": "cc8064d3-c613-4f71-b424-870aa8993cdc",
      "name": "Resume \u2192 ATS DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1400,
        460
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#docs",
          "mode": "name"
        },
        "text": "=:page_facing_up: Processed {{ $('Drive New File').item.json.name }} as {{ $('GPT Classify Doc').item.json.message.content.type }}"
      },
      "id": "eeff55ab-d434-4ca6-8d6e-e86f0005ad6f",
      "name": "Slack Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1600,
        400
      ]
    }
  ],
  "connections": {
    "Drive New File": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "GPT Classify Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Classify Doc": {
      "main": [
        [
          {
            "node": "Switch by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Type": {
      "main": [
        [
          {
            "node": "Contract Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoice Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other \u2192 Notion Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Extract": {
      "main": [
        [
          {
            "node": "Contract \u2192 Legal DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Extract": {
      "main": [
        [
          {
            "node": "Invoice \u2192 Accounting Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Extract": {
      "main": [
        [
          {
            "node": "Resume \u2192 ATS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract \u2192 Legal DB": {
      "main": [
        [
          {
            "node": "Slack Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice \u2192 Accounting Sheet": {
      "main": [
        [
          {
            "node": "Slack Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume \u2192 ATS DB": {
      "main": [
        [
          {
            "node": "Slack Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other \u2192 Notion Inbox": {
      "main": [
        [
          {
            "node": "Slack Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "2daf2c98-bcf7-477e-8b17-063b222f45d8",
  "id": "ffb29681-b86e-45ce-976d-1e139a59c5c7",
  "tags": []
}